#env variables
.env
Keys.env

#firebase
*firebase*.json

#chroma
chromadb/

#feedback db
feedback.db

#db
.db
.sqlite3
.sqlite3

#ide
.vscode/

#python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg